/* Layer: Base */

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #FCECCF;
  color: #292524;
  display: flex;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
  cursor: default;
}

* {
  box-sizing: border-box;
}

::selection {
  background-color: rgba(252, 176, 43, .5);
  color: #292524;
}


/* Layer: Layout */

.page-header {
  margin: 1rem 4rem 0 4rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  user-select: none;
}
@media (max-width: 48rem) {
  .page-header {
    margin: 1rem 1rem 0 1rem;
    gap: 1rem;
  }
}
.page-header__actions {
  flex: 1 1 0;
  display: flex;
  gap: 1rem;
}
@media (max-width: 48rem) {
  .page-header__actions {
    order: 1;
  }
}
.page-header__logo {
  flex: 0 0 auto;
}
@media (max-width: 48rem) {
  .page-header__slogan {
    order: 0;
  }
}
.page-header__slogan {
  flex: 1 1 0;
  order: 3;
  text-align: right;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: #FACC15;
  font-weight: 500;
}
@media (max-width: 37rem) {
  .page-header__slogan {
    display: none;
  }
}


.page-container {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}


.notes-board, .tags-board {
  flex: 1 1 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.notes-board__wrap, .tags-board__wrap {
  flex: 1 1 auto;
  border: 2px solid #FDE68A;
  border-radius: 1rem;
  background-color: #F5F5F4;
}

.notes-board__grid, .tags-board__grid {
  padding: 2rem 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 0.65rem;
}


.note-card {
  --note-card--color: #EAD3A7;
  flex: 0 0 16rem;
  /* box-shadow: 0 4px 3px rgb(0, 0, 0, .07), 0 2px 2px rgb(0, 0, 0, .06); */
  font-family: 'Permanent Marker', cursive;
  transform: rotate(var(--note-card--rotation));
  display: flex;
  flex-direction: column;
}
@media (max-width: 24rem) {
  .note-card {
    flex: 1 1 100%;
  }
}
.note-card ::selection {
  background-color: var(--note-card--selection);
}
.note-card--color-1 {
  --note-card--color: #D8F385;
  --note-card--selection: rgba(208, 133, 242, .75);
}
.note-card--color-2 {
  --note-card--color: #FFFC91;
  --note-card--selection: rgba(189, 145, 255, .75);
}
.note-card--color-3 {
  --note-card--color: #FFC379;
  --note-card--selection: rgba(120, 211, 255, .75);
}
.note-card--color-4 {
  --note-card--color: #D573A5;
  --note-card--selection: rgba(117, 214, 116, .75);
}
.note-card--color-5 {
  --note-card--color: #84D8D1;
  --note-card--selection: rgba(217, 160, 132, .75);
}
.note-card--rotation-1 {
  --note-card--rotation: -2.5deg;
}
.note-card--rotation-2 {
  --note-card--rotation: -2deg;
}
.note-card--rotation-3 {
  --note-card--rotation: -1.5deg;
}
.note-card--rotation-4 {
  --note-card--rotation: -1deg;
}
.note-card--rotation-5 {
  --note-card--rotation: -0.5deg;
}
.note-card--rotation-6 {
  --note-card--rotation: 0deg;
}
.note-card--rotation-7 {
  --note-card--rotation: 0.5deg;
}
.note-card--rotation-8 {
  --note-card--rotation: 1deg;
}
.note-card--rotation-9 {
  --note-card--rotation: 1.5deg;
}
.note-card--rotation-10 {
  --note-card--rotation: 2deg;
}
.note-card--rotation-11 {
  --note-card--rotation: 2.5deg;
}
.note-card--client-side {
  animation: note-card-in 256ms;
}
@keyframes note-card-in {
  from {
    opacity: .5;
    transform: translateY(-2rem) scale(1.2);
  }
}
.note-card--remove-animation {
  animation: note-card-out 256ms;
}
@keyframes note-card-out {
  to {
    opacity: .5;
    transform: translateY(2rem) scale(1.2);
  }
}

.note-card__title {
  padding: 0.5rem;
  padding-bottom: 1rem;
  background-color: var(--note-card--color);
  border: 1px solid rgba(0, 0, 0, .1);
  border-top: 1px solid rgba(0, 0, 0, .05);
  border-bottom: 0;
  border-radius: .4rem .4rem 0 0;
  font-size: 1.25rem;
  line-height: 1.33em;
}
.note-card__title:focus {
  z-index: 1;
}

.note-card__bottom {
  flex: 1 0 auto;
  perspective: 64rem;
  display: flex;
  flex-direction: column;
  position: relative;
  top: -1px;
}

.note-card__content {
  flex: 1 0 auto;
  padding: 0.5rem;
  min-height: 5rem;
  background-color: var(--note-card--color);
  border: 1px solid rgba(0, 0, 0, .1);
  border-top-width: 0;
  border-bottom: 3px solid rgba(0, 0, 0, .15);
  border-radius: 0 0 .4rem .4rem;
  color: #44403C;
  font-size: 1.1rem;
  line-height: 1.33em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: rotateX(0);
  transition: color 128ms, transform 256ms, filter 128ms;
  transform-origin: center top;
  transform-style: preserve-3d;
}
.js-note-card--open .note-card__content {
  color: transparent;
  transform: rotateX(120deg);
  filter: brightness(80%);
}

.note-card__actions {
  background-color: #F5F5F4;
  border: 1px solid rgba(0, 0, 0, .1);
  border-top-width: 0;
  border-radius: 0 0 .4rem .4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  inset: 0;
  z-index: -1;
}

.note-card__peel-button {
  width: 2rem;
  height: 2rem;
  bordeR: none;
  background-color: rgba(0, 0, 0, .1);
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  border-radius: 0 0 .3rem 0;
  visibility: hidden;
  transform: scale(0);
  transform-origin: bottom right;
  transition: transform 128ms;
  position: absolute;
  right: 1px;
  bottom: 2px;
}
.note-card__peel-button:hover {
  outline: none;
  background-color: rgba(0, 0, 0, .3);
  cursor: pointer;
}
.note-card__peel-button:focus {
  background-color: rgba(0, 0, 0, .5);
}

.note-card:hover .note-card__peel-button {
  transform: scale(1);
  visibility: visible;
}
.js-note-card--open .note-card__peel-button {
  opacity: 0 !important;
  visibility: hidden !important;
}

.tag-card {
  --note-card--color: #EAD3A7;
  flex: 0 0 16rem;
  /* box-shadow: 0 4px 3px rgb(0, 0, 0, .07), 0 2px 2px rgb(0, 0, 0, .06); */
  font-family: 'Permanent Marker', cursive;
  transform: rotate(var(--note-card--rotation));
  display: flex;
  flex-direction: column;
}
.tag-card__title {
  min-height: 8rem;
  padding: 0.5rem 1rem;
  background-color: var(--note-card--color);
  border: 1px solid rgba(0, 0, 0, .1);
  border-top: 1px solid rgba(0, 0, 0, .05);
  border-radius: .4rem;
  color: inherit;
  font-size: 1.25rem;
  line-height: 1.33em;
  text-decoration: none;
}
.tag-card__link {
  color: inherit;
}

/* Layer: Components */

.button {
  appearance: none;
  padding: 0 1rem;
  background-color: transparent;
  border: 1px solid #A8A29E;
  border-radius: .9rem;
  background-color: #F5F5F4;
  color: inherit;
  font-size: 0.8rem;
  text-decoration: none;
  line-height: 2.5rem;
  font-family: inherit;
  font-weight: bold;
  display: block;
}
.button:hover {
  cursor: pointer;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: #FACC15;
}
.button[disabled] {
  opacity: .6;
}
.button[disabled]:hover {
  text-decoration: none;
  cursor: default;
}
.button--icon {
  padding: 0 1.25rem 0 .3rem;
}
@media (max-width: 19rem) {
  .button--icon {
    padding: 0 1rem;
  }
}
.button__icon {
  width: 2rem;
  height: 2rem;
  margin-bottom: .15rem;
  margin-right: .3rem;
  display: inline-block;
  vertical-align: middle;
}
@media (max-width: 28rem) {
  .button__icon {
    width: 1.5rem;
    height: 1.5rem;
  }
}
@media (max-width: 19rem) {
  .button__icon {
    display: none;
  }
}